/*폰트 나열*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/*태그이름을 통한 CSS 디자인*/
h1{
    font-size:2rem;
    font-family: 'Black Han Sans', sans-serif;
}
/*클래스 이름을 통한 CSS 디자인*/
/*header의 nav*/
.header{
    position:fixed;
    width:100%;
    color:white;
    background-color: #2D3192cc;
    
    /*background:linear-gradient(#000000,#2D3192cc);*/
}
.header>.nav{
    max-width:1000px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
    padding:10px 20px;
    align-items:center;
}
.header>.nav>.menu{
    display:flex;
    width:30%;
    justify-content:space-evenly;
}
.header>.nav>.menu a{
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
    color:white;
}
.header>.nav>.title{
    width:170px;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}
/*main*/
/*
.main{
    
    background-color: beige;
    
} */
/*section부분을 찾기 힘들것 같다면 메인에 두어도 상관없음*/
section{
    max-width:1000px;
    box-sizing: border-box;
    margin:auto;
}
/*section단위로 접근*/
.box1{
    width:100%;
    min-height:400px;
    height:50vh;
    background-image: url(/image/balloons.jpg);
    background-size: cover;
    background-position: center;
}
.box1>.section1{
    color:white;
    text-align:right;
    padding:250px 20px 20px 20px;
}
.box1>.section1>h1{
    font-size:3rem;
}
.box1>.section1>h3{
    font-family: 'Black Han Sans', sans-serif;
    font-size:1.5rem;
    margin:5px 0;
}
/*section2 행사 설명*/
.section2{
    text-align:center;
    padding:60px 0;
    line-height:120%;
}

.section2>.title,
.section2>.title>h1{
    margin-bottom:20px;
}
.section2>.intro>table{
    margin:auto;
    margin-top:50px;
}
.section2>.intro>table tr>td:first-child{
    /*color:white;
    background-*/color: #2d3192;
    padding:5px 10px;
    border-right:2px #2d3192 solid;
    font-weight:bolder;
}
.section2>.intro table tr td{
    padding:5px 10px;
}
.section2>.title>h3{
    font-family: 'Nanum Brush Script', cursive;
}
/*section3 시민갤러리*/
.box2>.section3>.title{
display:flex;
justify-content:space-between;
align-items:center;
margin:20px 0;
}
.box2>.section3>.gallery{
    display:inline-block;
    width:280px;
    height:350px;
    background-color: lightblue;
    border-radius:20px;
    text-align:center;
}
/*section3의 이미지 넣는 공간*/
.box2>.section3>.gallery:nth-child(2)>.image{
    margin:15px;
    width:250px;
    height:250px;
    /*나중에 수정하기 위해 따로 추가*/
    background-image: url(/image/balloons.jpg);
    background-size: cover;
}
.box2>.section3>.gallery:nth-child(3)>.image{
    margin:15px;
    width:250px;
    height:250px;
    /*나중에 수정하기 위해 따로 추가*/
    background-image: url(/image/balloons.jpg);
    background-size: cover;
}
.box2>.section3>.gallery:nth-child(4)>.image{
    margin:15px;
    width:250px;
    height:250px;
    /*나중에 수정하기 위해 따로 추가*/
    background-image: url(/image/balloons.jpg);
    background-size: cover;
}
.box2>.section3>.gallery>h4{
    font-weight:bold;
}
.box2>.section3>.title>a{
    background-color: #2d3192;
    color:white;
    text-decoration: none;
    padding:8px 12px;
    border-radius: 15px;
}
/*section4 관련뉴스*/
.section4{
    margin-top:40px;
    padding:60px 0;
    height:350px;
}
.section4>table tr>td:first-child{
    color:#2d3192;
    font-weight:bolder;
    padding-right:50px;
}
.section4>table tr>td{
    padding:15px 0;
    border-top: #2d3192 3px solid;
    border-bottom:#2d3192 3px solid;
}
.section4>table{
    width:80%;
    margin:auto;
    margin-top:30px;
}
/*footer 부분*/
.footer{
    display:flex;
    justify-content:space-around;
    background-color: #dddddd;
    padding:10px 0;
    align-items:center;
}
.footer>.info>p{
    float:left;
    padding-right:50px;
    padding-bottom:10px;
    color:gray;
    font-size:0.8rem;
}
.footer>.info>p:last-child{
    padding-right:0;
    clear:both;
}
.topbutton{
    position:fixed;
    bottom:10px;
    right:0;
    width:80px;
    height:80px;
    background-color: rgba(0,0,255,50%);
    border-radius:50%;
    text-align:center;
    box-sizing:border-box;
    /*padding 값에 의해 원 모양이 찌그러 지는 것을 보호하기 위한 조치*/
    padding-top:25px;
}
.topbutton>a{
    text-decoration: none;
    color:white;
    font-size:1.5rem;
}
/*미디어 쿼리를 통한 CSS 디자인*/