/*폰트 나열*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/*태그이름을 통한 CSS 디자인*/
h1{
    font-size:2rem;
    font-family: 'Black Han Sans', sans-serif;
}
/*클래스 이름을 통한 CSS 디자인*/
/*header의 nav*/
.header{
    position:fixed;
    width:100%;
    color:white;
    background-color: #2D3192cc;
    
    /*background:linear-gradient(#000000,#2D3192cc);*/
}
.header>.nav{
    max-width:1000px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
    padding:10px 20px;
    align-items:center;
}
.header>.nav>.menu{
    display:flex;
    width:30%;
    justify-content:space-evenly;
}
.header>.nav>.menu a{
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
}
.header>.nav>.title{
    width:170px;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}
/*main*/
.main{
    background-color: beige;
}
/*section부분을 찾기 힘들것 같다면 메인에 두어도 상관없음*/
section{
    max-width:1000px;
    box-sizing: border-box;
    margin:auto;
}
/*section단위로 접근*/
.box1{
    width:100%;
    min-height:400px;
    height:50vh;
    background-image: url(/image/balloons.jpg);
    background-size: cover;
    background-position: center;
}
.box1>.section1{
    color:white;
    text-align:right;
    padding:250px 20px 20px 20px;
}
.box1>.section1>h1{
    font-size:3rem;
}
.box1>.section1>h3{
    font-family: 'Black Han Sans', sans-serif;
    font-size:1.5rem;
    margin:5px 0;
}
/*section2 행사 설명*/
.section2{
    text-align:center;
    padding:40px 0;
    line-height:120%;
}
.section2>.title,
.section2>.title>h1{
    margin-bottom:20px;
}
.section2>.intro>table{
    margin:auto;
}
.section2>.intro>table tr>td:first-child{
    color:white;
    background-color: #2d3192;
    padding:5px 10px;
    border-radius:10px;
    margin
}
/*section3 */

/*section4 */

/*미디어 쿼리를 통한 CSS 디자인*/